body{
  margin: 0;
  padding: 0;
}
.body{
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
li {
  margin-top: 5px;
}
a{list-style: none;color: black;text-decoration: none}
.check{
  color: red;
}
.center{text-align: center}
.ib{display: inline-block;}
.fl{float: left;}
.fr{float:right}
.br{border-right: 1px solid #1e60b4}
.tl{text-align: left}
.tc{text-align: center}
.box-check {
  border: 1px solid #e1dddd;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
}
.container{width: 80%;.ib();height: 100%;}
.logo {float: left;margin-top: 20px;font-size: 14px;vertical-align: center;text-decoration: none;height: 46px;}
.navbar-brand-text {color: #2864B1;font-size: 1.6em;}
.lb{width:100%;height: 500px;color: #fff;}
.title{font-size: 36px;font-weight:500 ;}
.mtb24{margin: 24px 0px}
.l{
    width: 1px;
    height: 100%;
    background: #d8d8d8;
    z-index: 2;.ib()}
.media-left{.ib();width:0px;height:100%;padding-right: 10px;}

h4{font-weight: 500;}
p{font-size: 14px;color: #808080}
.clear-area{
    position: relative;
    background-color: #ffffff;
    margin-bottom: 24px;
    padding: 24px 0;
    .tc();
}
.leader {
    height: 1px;
    border-top: 1px solid #e5e5e5;
    margin: 40px 0;
    text-align: center;
    line-height: 4px;
    h3{
      background-color: #ffffff;
      color: #FF5A69;
      margin-top: -15px;
      display: inline-block;
      padding: 0 24px;
      font-size: 24px;
      font-weight: 500;
    }
}
.text-description{
  font-size: 16px;
    color: #808080;
}
.w{width: 100%}
.white{color: white}
.media-heading{padding-bottom: 12px;}
.media-body{    padding: 24px 0px 24px 60px;float: right;width: 600px;}
.tree{margin-top: 20px}
.pd{padding: 15px 15px;}
.page{width: 100%;.tc();padding: 10px 0px}
.a{.ib();width: 100%;height: 100%;}
.wd{width: 100%;height: 100%;}
.p10{padding: 10px}
.table{padding: 10px;text-align: center}

// 标签页跳转
.tag {
  padding: 20px 10px;
  border: 1px solid #e8eaec;
  border-radius: 3px;
  background: #f7f7f7;
  display: inline-block;
  margin-right: 30px;
  font-size: 15px;
}
.tag:hover {
  cursor: pointer;
  color: palegreen;
  transform: scale(1.2);
  -ms-transform: rotate(1.2); /* IE 9 */
  -moz-transform: rotate(1.2); /* Firefox */
  -webkit-transform: rotate(1.2); /* Safari 和 Chrome */
  -o-transform: rotate(1.2); /* Opera */
}
.tag:active {
  border: solid 2px black;
}
.tag-active {
  cursor: pointer;
  color: palegreen;
  transform: scale(1.2);
  -ms-transform: rotate(1.2); /* IE 9 */
  -moz-transform: rotate(1.2); /* Firefox */
  -webkit-transform: rotate(1.2); /* Safari 和 Chrome */
  -o-transform: rotate(1.2); /* Opera */
  border: solid 2px black;
}
#tags {
  padding-bottom: 20px;
  border-bottom: #e8eaec 1px solid;
  margin-left: 20px;
  padding-top: 10px;
}
.mb15{margin: 15px 0px}
